@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Practicas_ASP.NET.styles.css" asp-append-version="true" />
</head>

@* <div class="text-center">
    <h1 class="display-4">Bienvenido a EAVISAX</h1>
</div> *@

<body>
    <form class="form">
        <p class="title">Inicia Sesion</p>
        <p class="message">Inicia sesion y mira nuestras promociones</p>
        <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input" id="username">
                <span>Nombre</span>
            </label>
        </div>

        <label>
            <input required="" placeholder="" type="email" class="input" id="email">
            <span>Correo</span>
        </label>

        <label>
            <input required="" placeholder="" type="password" class="input" id="password">
            <span>Clave</span>
        </label>
        <label>
            <input required="" placeholder="" type="password" class="input" id="confirmPassword">
            <span>Confirmar clave</span>
        </label>

        <button type="button" class="submit" id="loginButton">Iniciar sesion</button>
        <p class="signin">No tienes una cuenta?<a asp-controller="AuthRegistro" asp-action="Index"><br>Registrate</a> </p>
    </form>
</body>


@* <footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Javi Quintana
    </div>
</footer> *@
</html>

<script>
    document.getElementById('loginButton').addEventListener('click', function () {
        var username = document.getElementById('username').value;
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirmPassword').value;

        if (password !== confirmPassword) {
            alert('Confirma bien la contraseña');
            return;
        }

        // Construir el objeto JSON para enviar en la solicitud
        var requestBody = {
            Username: username,
            Mail: email,
            Password: password
        };

        fetch('http://localhost:43880/Home/CheckLogin', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestBody)
        })
            .then(response => response.json())
            .then(data => {
                var token = data.token;
                if (token) {
                    alert('¡Inicio de sesión exitoso! Token: ' + token);

                } else {
                    alert('Error al iniciar sesión. Credenciales incorrectas.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al intentar iniciar sesión. Por favor, inténtalo de nuevo más tarde.');
            });
    });
</script>
