@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Practicas_ASP.NET.styles.css" asp-append-version="true" />
</head>

@* <div class="text-center">
    <h1 class="display-4">Bienvenido a EAVISAX</h1>
</div> *@

<body>
    <form class="form">
        <p class="title">Inicia Sesion</p>
        <p class="message">Inicia sesion y mira nuestras promociones</p>
        <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input">
                <span>Nombre</span>
            </label>
        </div>

        <label>
            <input required="" placeholder="" type="email" class="input">
            <span>Correo</span>
        </label>

        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Clave</span>
        </label>
        <label>
            <input required="" placeholder="" type="password" class="input">
            <span>Confirmar clave</span>
        </label>

        <button class="submit">Iniciar sesion</button>
        <p class="signin">No tienes una cuenta?<a asp-controller="AuthRegistro" asp-action="Index"><br>Registrate</a> </p>
    </form>
</body>

<form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <asp:Timer ID="Timer1" runat="server" Interval="60000" OnTick="Timer1_Tick"></asp:Timer>
</form>

@* <footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Javi Quintana
    </div>
</footer> *@
</html>

@section Scripts {
    <script>
        function reloadPage() {
            location.reload();
        }

        $(document).ready(function () {
            setInterval(reloadPage, 60000); // Recarga la página cada 60 segundos (60000 milisegundos)
        });
    </script>
}
