/*
   FORMULARIO
   */

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    top: 40px;
}

.title {
    font-size: 36px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

    .title::before, .title::after {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        border-radius: 50%;
        left: 0px;
        background-color: royalblue;
    }

    .title::before {
        width: 18px;
        height: 18px;
        background-color: royalblue;
    }

    .title::after {
        width: 18px;
        height: 18px;
        animation: pulse 1s linear infinite;
    }

.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 16px;
}

.signin {
    text-align: center;
}

    .signin a {
        color: royalblue;
    }

        .signin a:hover {
            text-decoration: underline royalblue;
        }

.flex {
    display: flex;
    width: 100%;
    gap: 10px;
}

.form label {
    position: relative;
    width: 100%;
}

    .form label .input {
        width: 100%;
        padding: 15px;
        outline: 0;
        border: 2.5px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
    }

        .form label .input + span {
            position: absolute;
            left: 10px;
            top: 18px;
            color: grey;
            font-size: 16px;
            cursor: text;
            transition: 0.3s ease;
        }

        .form label .input:placeholder-shown + span {
            top: 15px;
            font-size: 0.9em;
        }

        .form label .input:focus + span, .form label .input:valid + span {
            top: 10px;
            font-size: 12px;
            font-weight: 600;
        }

        .form label .input:valid + span {
            color: green;
        }

.submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    max-width: 600px;
}

    .submit:hover {
        background-color: rgb(56, 90, 194);
    }

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/*
  Botton enviar para guardar en base de datos
  */

